/* .game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  } */
  /* .button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
  } */
  body{
    background-size: cover;
  }
  .logooo{
    height: 160px;
    width: 350px;
    float: right;
  }
  .logoo{
    height: 160px;
    width: 250px;
  }